.species_label, .group_label {
  font-size: 10;
  color: black;
}

.species_label:hover, .group_label:hover {
  font-weight: bold;
}

.heatmap_tile {
  stroke: white;
  stroke-width: 2px;
}

.heatmap_tile:hover {
  stroke: black;
}

/*
.heatmap_tile:hover ~ .species_label {
  font-weight: bold;
}
*/
.species_label:hover ~ .heatmap_tile {
  stroke: black;
}

.species_group:hover > .species_label {
  font-weight: bold;
}


#center_label {
  text-anchor: middle;
}

.histbg {
    fill: white;
}

.histsbg {
    background: whitesmoke;
    visibility: hidden;
    border-style:solid;
}

#histograms {
    float: right;
}

.axislabel, .histlabel {
   font-family: sans-serif;
   font-size: 12; 
}

/*
.bar {
    stroke: black;
}
*/
