.species_label, .group_label {
  font-size: 10;
  color: black;
}

.species_label:hover, .group_label:hover {
  font-weight: bold;
}

.heatmap_tile {
  stroke: white;
  stroke-width: 2px;
}

.heatmap_tile:hover {
  stroke: black;
}

/*
.heatmap_tile:hover ~ .species_label {
  font-weight: bold;
}
*/
.species_label:hover ~ .heatmap_tile {
  stroke: black;
}
.selected > .heatmap_tile {
  stroke: black;
}

.species_group:hover > .species_label {
  font-weight: bold;
}
.selected > .species_label {
  font-weight: bold;
}


#center_label {
  text-anchor: middle;
}

.histbg {
    fill: white;
}

.histsbg {
    background: whitesmoke;
    visibility: hidden;
    border-style:solid;
}

#histograms {
    float: right;
}

.axislabel, .histlabel {
   font-family: sans-serif;
   font-size: 12;
}

.bar {
/*    stroke: black;*/
    /* fill: #be013c; */
    visibility: hidden;
}

.dist {
    /* stroke: #be013c; */
    fill: none;
}

.dist_area {
/*    stroke: #be013c;*/
    /* fill: #be013c; */
    stroke-width: 0;
    opacity: 0.2;
}
