
tooltip {
    color: white;
    position: absolute;
    text-align: left;

    padding: 2px;
    font: 12px sans-serif;
    background: rgba(0,0,0,.8);
    border: 2px solid black;
    pointer-events: none;
  }