<!--Florian Kellner 4090126 -->

{% extends "base.html" %}

{% block extrastyles %}
<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='analysis.css') }}" >
<style>
  .analysis {
    font-weight: bold;
  }
</style>
{% endblock %}

{% block content %}
<div id="content" class="wrapper">

  <div class="heatmap">
    <h2>Bacteria abundance by species and
      <select name="grouping" id="select_grouping">
      </select>
    </h2>
    <h3>
      difference from
      <select name="reference_mean" id="select_reference_mean">
      </select>
    </h3>
    <svg id="heat_wheel"></svg>
    <p class="heatmap_instructions">
      Values normalized across entire heatmap. <br/>
      Click on heatmap or bacteria names to see distribution of original data.
    </p>
  </div>

  <div class="histograms">
    <svg id="histograms"></svg>
    <br/>
    <input type="checkbox" id="showbars" name="showbars">
    <label for="showbars">show bars</label>
  </div>

</div>

<div class="heatmap_description">
  <p>
    Abundance has been normalized to values from zero to one for each species,
    therefore there is no direct comparison of absolute values between species.
    <br/>
    Within each group, the mean bacteria abundance is computed per species.
    The heat map shows the difference of those means to either
  </p>
  <ul>
    <li>
      the mean abundance of the species across groups
      <br/>
      <em>To accommodate the fact that some groups may have a generally higher count
      of all bacteria species, there is also the option to calculate the mean
      of those differences within groups and relate the differences to this
      mean.</em>
    </li>
    <li>
      the mean abundance of all species within the group
      <br/>
      <em>Same as above, to account for some species showing a generally lower mean
      abundance, it is possible to calculate the mean of those differences
      within species and relate the differences to this mean.</em>
    </li>
  </ul>
  <p>
    Before display, all values are normalized again in order to use the entire
    available color spectrum of the heatmap. This means that the colors of
    different heat maps are not comparable.
  </p>
</div>
<script type="text/javascript">
  const DATA = {{ jsonTable | safe }};
  const SPECIES = {{ species | safe }};
  // console.log(data);
  // console.log(species);
</script>
<script src="{{ url_for('static', filename='analysis.js') }}"></script>
{% endblock %}
