<!--Sean Klein 5575709-->

<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='base.css') }}" >
    <script src="https://d3js.org/d3.v6.min.js" charset="utf-8"></script>
    <title>Human intestinal Ecosystem</title>
</head>
<body>
    <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
    </ul>

    <!-- between block and endblock we will insert more html, js from other files -->
    {% block content %}
    {% endblock %}

</body>
</html>