<!--Sean Klein 5575709, Florian Kellner 4090126-->

{% extends "base.html" %}
{% block content %}

<!--div element that contains the tooltip-->
<div id="graph">
    <div id="tooltip"> </div>
</div>

<!-- div for the plot -->
<div class="element" id="home_chart"></div>

<!--data from server-->
<script type="text/javascript" >
    dataset = {{ jsonTable | safe }};
</script>

<!-- load visualisation-->
<script src="{{ url_for('static', filename='stackedBar.js') }}"></script>


{% block extrastyles %}
<style>
  .home {
    font-weight: bold;
  }
</style>
{% endblock %}
