<!--Sean Klein 5575709, Florian Kellner 4090126-->

{% extends "base.html" %}
{% block content %}

<div id="content">
<h2>
    X-Axis:
    <select name="grouping" id="x_axis"></select>
    Colors:
    <select name="grouping" id="colors"></select>
</h2>

<!-- div for the plot -->
<div class="element" id="stacked_bar"></div>
</div>



<!--data from server-->
<script type="text/javascript" >
    dataset = {{ jsonTable | safe }};
</script>

<!-- load visualisation-->
<script src="{{ url_for('static', filename='stackedBar.js') }}"></script>

{% endblock %}
{% block extrastyles %}
<style>
  .home {
    font-weight: bold;
  }
</style>
{% endblock %}
