<!--Sean Klein 5575709-->

{% extends "base.html" %}
{% block extrastyles %}
<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='meta_vis.css') }}" >
<style>
  .metadata {
    font-weight: bold;
  }
</style>
{% endblock %}

{% block content %}

<!-- old version by Antonia
<div>
<h2><select name="variables" id="select_variable">
    </select><select name="variables2" id="select_variable2">
    </select></h2>
<div id="meta_vis"></div>
<div id="legend"></div>
</div>

<script type="text/javascript" >
  const data = {{ data | safe }};
</script>
<script src="{{ url_for('static', filename='meta_vis.js') }}"></script>
-->

<div id="content">

<h2>
  X-Axis:
  <select id="x_axis"></select>
  Colors:
  <select id="colors"></select>
</h2>
</div>


<!-- draw the plot -->
<div id="stacked_bar"></div>

<!--data from server-->
<script type="text/javascript" >
  dataset = {{ jsonTable | safe }};
</script>

<!-- load visualisation-->
<script src="{{ url_for('static', filename='stackedBar.js') }}"></script>



{% endblock %}
